apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "contapics-minio.fullname" . }}
  labels:
    app: {{ include "contapics-minio.fullname" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "contapics-minio.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "contapics-minio.fullname" . }}
    spec:
      containers:
        - name: minio
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "contapics-minio.fullname" . }}
                  key: MINIO_ROOT_USER
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "contapics-minio.fullname" . }}
                  key: MINIO_ROOT_PASSWORD
          args:
            - server
            - /data
            - --console-address
            - ":9001"
          ports:
            - containerPort: 9000
              name: api
            - containerPort: 9001
              name: console
          volumeMounts:
            - name: minio-data
              mountPath: /data
      volumes:
        - name: minio-data
          persistentVolumeClaim:
            claimName: {{ include "contapics-minio.fullname" . }}-pvc
